.cards-section {
    font-family: 'Inter', sans-serif;

    .card-content {
        padding: 49px 20px;
        border-radius: 4px;
    }

    .card-icon {
        width: 56px;
        height: 56px;
        background-color: red;
        margin-right: 23px;
    }

    .card-title {
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 5px;
    }

    .card-description {
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
    }
}