.main-banner {
    height: 400px;

    @media screen and (max-width: 1024px) {
        height: 100vh;
    }

    img {
        object-fit: contain;

        @media screen and (max-width: 1024px) {
            object-fit: cover;
        }
    }

    .title {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 38px;
    }

    .text-content {
        line-height: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;

        @media screen and (max-width: 1024px) {
            line-height: 26px;
        }

        @media screen and (max-width: 768px) {
            line-height: 26px;
            font-size: 20px !important;
        }
    }
}