.price-news-section {
    font-family: 'Roboto', sans-serif;
    margin-top: -80px;
    padding-top: 140px;

    .background-image {
        position: relative;
        z-index: -1;
    }

    .overview-cards {
        margin-bottom: 90px;
    }

    .overview-card {
        border-left: solid 1px var(--primary-color);
        padding-top: 23px;

        &:first-child {
            border: none;
        }
    }

    .overview-title {
        font-weight: 300;
        font-size: 64px;
        line-height: 60px;
        margin-bottom: 5px;
    }

    .overview-content {
        font-size: 20px;
        line-height: 22px;
        text-transform: uppercase;
    }
}